* {
    padding: 0px;
    margin: 0px;
    min-width: 0%;
    min-height: 0%;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #36393e;
    color: #fff;
    text-align: center;
    display: grid;
    height: 100%;
}

#mainContainer {
    opacity: 0;
    transform: translateY(10vh);
    transition: opacity 0.5s, transform 0.5s;
}

#projectsHeader {
    width: fit-content;
    margin: 15px auto;
    font-size: 75px;
    font-weight: bold;
}

#projectsContainer {
    margin: auto auto;
    padding: 0px 50px;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.projectContainer {
    display: flex;
    flex-direction: column;

    margin: 10px;
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    width: 500px;

    text-decoration: none;

    transition: transform 0.25s, background-color 0.25s;
}

@media screen and (max-width: 1300px) and (min-width: 500px) {
    .projectContainer {
        width: 95%;
    }
}

.projectContainer:hover {
    background-color: rgba(255, 255, 255, 0.075);
    transform: translate(0, -5px);
}

.projectIconContainer {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 20px;
    padding-bottom: 10px;
}

.projectIcon {
    display: inline-block;
    margin: auto auto;
}

.projectDescription {
    flex-grow: 1;
    font-size: 25px;
    color: #fff;
    margin: auto auto;
    margin-top: 0;
    padding: 20px 40px;
}

.projectOpenButtonContainer {
    padding: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
    width: fit-content;
    height: fit-content;
    color: #fff;
    margin: auto auto;
}

.projectOpenButton {
    padding: 20px;
    background-color: #42b342;
    border-radius: 20px;
    color: #fff;
    font-size: 35px;
    font-weight: bold;
    text-decoration: none;
    transition: opacity 0.25s;
}

.projectOpenButton:hover {
    opacity: 0.75;
}
