<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>ThatTimothy</title>
		<link href="https://images.rbxcdn.com/23421382939a9f4ae8bbe60dbe2a3e7e.ico.gzip" rel=icon>
		<link rel="stylesheet" href="css.css">

		<script src="../load_essentials.js"></script>
	</head>

	<body>
		<div id="header"></div>

        <div id="site_container">
            <div id="site_container_container">
                <div id="body">
                    <p class="info">Cool text here</p>
                </div>

                <div id="footer"></div>
            </div>
        </div>
	</body>
</html>